@font-face {
	font-family: 'SF Pro Display';
	src: url(../../assets/fonts/FontsFree-Net-SFProDisplay-Regular.eot) format('embedded-opentype'),
	url(../../assets/fonts/FontsFree-Net-SFProDisplay-Regular.eot) format('embedded-opentype'),
	url(../../assets/fonts/FontsFree-Net-SFProDisplay-Regular.woff2) format('woff2'),
	url(../../assets/fonts/FontsFree-Net-SFProDisplay-Regular.woff) format('woff'),
	url(../../assets/fonts/FontsFree-Net-SFProDisplay-Regular.ttf) format('truetype'),
	url(../../assets/fonts/FontsFree-Net-SFProDisplay-Regular.svg) format('svg');
	font-weight: 400;
	font-style: normal;
}